{
  "presets": [
    [ "env", {
      "es2015": { "modules": false }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    [ "module-resolver", {
      "root": [ "./src" ],
      "alias": {
        "data": "./data",
        "translations": "./locales/translations"
      }
    }],
    "transform-export-extensions"
  ]
}
