@import "styles/variables.css";

.button {
  font-size: 36px;
  font-weight: 600;

  display: inline-block;

  padding: 30px 45px;

  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: .06em;
  text-transform: uppercase;
  word-wrap: break-word;

  color: var(--color-tuna);
  border: 1px solid var(--color-cape-cod);
  border-radius: 3px;
  background-color: var(--color-sapling);
}

.button:hover {
  cursor: pointer;

  color: var(--color-tuna);
  background-color: color(var(--color-sapling) a(.9));
}

@desktop {
  .button {
    font-size: 1rem;

    padding: 15px 30px;
  }
}
