doctype html
html(lang="en")
  head
    title= "Albert Fernández"
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    each style in stylesheets
      link(href="/dist/" + style + "", rel="stylesheet")
    include ./header.pug
  body
    div#container!= content
    each script in scripts
      script(src="/dist/" + script)
    include ./footer.pug
