doctype html
html(lang="en")
  head
    title= "Albert Fernández"
    meta(description="Personal website of Albert Fernández")
    meta(charset="utf-8")
    each style in stylesheets
      link(href="/" + style, rel="stylesheet")
    include ./header.pug
  body
    div#container!= content
    each script in scripts
      script(src="/" + script)
    include ./footer.pug
