@import "styles/variables.css";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: var(--font-size-xl);

  height: 100%;
  margin: 0;

  background-color: var(--color-tuna);
}

@tablet {
  html {
    font-size: var(--font-size-l);
  }
}

@desktop {
  html {
    font-size: var(--font-size-m);
  }
}

:global(#container) {
  display: flex;
  flex-direction: column;

  height: 100%;

  flex: 1;
}

a {
  text-decoration: none;

  color: var(--color-donkey-brown);
}

a:hover {
  color: var(--color-golden-dream);
}
