@import "styles/variables.css";

.container {
  display: flex;
  flex-direction: column;

  padding: 40px 10%;

  color: var(--color-iron);
  background-color: var(--color-tuna);

  align-items: center;
  flex: 1;
  justify-content: center;
}

@desktop {
  .name {
    font-size: 3rem;
  }

  .title {
    font-size: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;

  min-height: 280px;
}

.header {
  display: flex;
  flex-direction: column;

  min-height: 180px;
}

.name {
  font-size: 4rem;

  margin-bottom: 5px;

  text-align: left;
}

.title {
  font-size: 3rem;

  margin-top: 10px;

  text-align: left;

  opacity: .7;
}

.actions {
  display: flex;
  flex-direction: column;

  min-height: 100px;
  padding: 3rem;

  align-self: center;
}

.text {
  font-size: 2rem;

  margin-bottom: 10px;

  text-align: center;
}

@desktop {
  .actions {
    padding: 30px;
  }

  .cta {
    font-size: 1rem;

    padding: 15px 30px;
  }

  .resume,
  .text {
    font-size: 1rem;
  }
}

.cta {
  font-size: 2.5rem;
  font-weight: 600;

  display: inline-block;

  padding: 30px 60px;

  text-align: center;
  text-decoration: none;
  letter-spacing: .06em;
  text-transform: uppercase;

  color: var(--color-tuna);
  border: 1px solid var(--color-cape-cod);
  border-radius: 3px;
  background-color: var(--color-sapling);
}

.cta:hover {
  cursor: pointer;

  color: var(--color-tuna);
  background-color: color(var(--color-sapling) a(.9));
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  margin-bottom: 20px;

  flex: 1;
  justify-content: center;
}

@tablet {
  .footer {
    flex-direction: row;
  }
}

.resume {
  font-size: 2.2rem;

  margin-top: 20px;

  text-align: center;
  text-decoration: underline;

  color: color(var(--color-iron) a(.6));
}

.resume:hover {
  cursor: pointer;

  color: var(--color-iron);
}

.icon svg {
  width: 4rem;
  height: 4rem;
  padding: .4em 1rem;

  fill: var(--color-iron);
}

@desktop {
  width: 48px;
  height: 48px;
}

.icon:hover svg,
.icon:focus svg,
.icon:active svg {
  fill: color(var(--color-iron) a(.8));
}
