@import "styles/variables.css";

.container {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  padding: 40px 10%;

  color: var(--color-iron);
  background-color: var(--color-tuna);

  align-items: center;
  flex: 1;
  justify-content: center;
}
