@import "styles/variables.css";

.section {
  max-width: 960px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;

  max-width: 640px;
  height: 40vh;
  min-height: 300px;
  margin: 0 auto;
  padding: 20px;

  text-align: left;

  justify-content: center;
}

.title {
  font-size: 42px;
}

.subtitle {
  font-family: monospace;
  font-size: 24px;

  text-transform: uppercase;
}

.list {
  font-family: monospace;
}

.list li {
  margin-bottom: 10px;
}

.content {
  justify-content: center;
}
