@import "styles/variables.css";

.content {
  display: flex;
  flex-direction: column;

  width: 100%;

  flex: 1;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  align-items: flex-start;
  justify-content: center;
}

.name {
  margin-bottom: 5px;

  text-align: left;
}

.title {
  margin-top: 10px;

  text-align: left;

  opacity: .7;
}

.actions {
  display: flex;
  flex-direction: column;

  min-height: 100px;
  margin: 5vh 0;

  align-self: center;
}
