@import "styles/variables.css";

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 280px;

  flex: 1;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;

  min-height: 180px;
  margin: 0 auto;

  align-items: flex-start;
  justify-content: center;
}

.name {
  margin-bottom: 5px;

  text-align: left;
}

.title {
  margin-top: 10px;

  text-align: left;

  opacity: .7;
}

.actions {
  display: flex;
  flex-direction: column;

  min-height: 100px;
  margin: 5vh 0;

  animation: bounceIn 1.5s;

  align-self: center;
}

.text {
  font-size: 1.3em;

  margin-bottom: 10px;

  text-align: center;
}

@desktop {
  .text,
  .resume {
    font-size: .6em;
  }
}

.resume {
  font-size: 1.3em;

  margin-top: 20px;
  padding: 10px 0;

  text-align: center;
  text-decoration: underline;

  color: color(var(--color-iron) a(.6));
}

.resume:hover,
.resume:active,
.resume:focus {
  cursor: pointer;

  color: var(--color-iron);
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
  }

  0% {
    transform: scale3d(.3, .3, .3);

    opacity: 0;
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    transform: scale3d(1.03, 1.03, 1.03);

    opacity: 1;
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    transform: scale3d(1, 1, 1);

    opacity: 1;
  }
}
