@import "styles/variables.css";

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: var(--navbar-height);
  padding: 3px 20px;

  border-bottom: 1px solid var(--color-tuna);
  background-color: var(--color-golden-dream);

  align-items: center;
  justify-content: space-between;
}

.home {}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  padding: 0 10px;
}
