$base-font-size: 16;

@import url(https://fonts.googleapis.com/css?family=Ovo|Open+Sans);
$font-family-sans: 'Open Sans', sans-serif;
$font-family-serif: 'Ovo', serif;

$small: 639px;
$medium: 1023px;
$large: 1199px;
$xlarge: 1200px;
