@import "styles/variables.css";

.footer {
  display: flex;
  flex-direction: column;

  padding: 20px 40px;
  justify-content: flex-end;
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.social {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.source {
  margin-top: 20px;
}

.icon svg {
  width: 90px;
  height: 90px;
  padding: 0 30px;

  fill: var(--color-iron);
}

@desktop {
  .icon svg {
    width: 48px;
    height: 48px;
  }
}

.icon:hover svg,
.icon:focus svg,
.icon:active svg {
  fill: color(var(--color-iron) a(.8));
}
