@import "styles/variables.css";

.container {
  display: flex;

  min-height: 90px;
  padding: 0 10px;

  background-color: var(--color-tuna);

  align-items: center;
}

.content {
  display: flex;

  max-width: var(--app-max-width);
  margin: 0 auto;

  color: var(--color-iron);

  flex: 1;
  justify-content: center;
}

.social {
  color: var(--color-iron);
}

.social:hover {
  color: var(--color-heather);
}

.social > svg,
.icons > svg {
  padding: 0 10px;

  fill: currentColor;
}
