@import '../../style/base';

.index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  &__title {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
  }

  &__divider {
    width: 50px;
    border-bottom: 3px #222 solid;
    margin: 25px auto 30px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    @include font-size(36);
    padding: 0 20px;
    color: black;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: initial;
    }

    @include tablet {
      font-size: initial;
    }

  }

}