@import '../../style/base';

.index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;

  &__title {
    @include font-size(90);
    text-align: center;

    @include desktop {
      @include font-size(40);
    }
  }

  &__subtitle {
    @include font-size(42);
    text-align: center;

    @include desktop {
      @include font-size(18);
    }
  }

  &__divider {
    width: 50px;
    border-bottom: 3px #222 solid;
    margin: 25px auto 30px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    @include font-size(36);
    padding: 0 20px;
    color: black;
    
    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: initial;
    }

    @include tablet {
      font-size: initial;
    }

  }

}